<div class="row" style="padding-top: 45px;">
  <div class="col-4"></div>

  <div class="col-4" style="text-align: center;">
    <button class="add" mat-raised-button (click)="openDialog()">Add Product</button>
  </div>
  <div class="col-4"></div>
</div>
<div class="row" style="margin-top: 35px; margin-bottom: 35px;">
  <div class="col-4"></div>
  <div class="col-4" style="text-align: center;">
    <button mat-raised-button (click)="openMakeSale()">Make Sale</button>
  </div>
  <div class="col-4"></div>
</div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-9">
<table class="mat-elevation-z8">
  
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Buying Price</th>
      <th>Selling Price</th>
      <th>Serial Number</th>
      <th>Edit Details</th>
      <th>Delete Product</th>
      <th>View Sale</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.bp }}</td>
      <td>{{ product.sp }} </td>
      <td>{{ product.serial_no }}</td>
      <!-- <td><button mat-button (click)="openEdit(product.id)">Edit</button> </td> -->
      <td><button mat-button   (click)="getOne(product.id)">Edit</button></td>
      <td><button mat-button color="warn" (click)="delete(product.id)">Delete</button></td>
      <td>
        <button mat-button>
          <a routerLink="/sales/{{product.id}}">View Sale</a>
        </button>
      </td>
    </tr>
  </table>
  </div>
</div>  
  
<router-outlet></router-outlet>  
 